<div class="container mt-4">
    <table class="table table-striped" id="contactTable">
        <thead class="thead-dark">
            <tr>
                <th>Edit</th>
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Adress</th>
                <th>Mobile</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contact in Model)
            {
                <tr style="vertical-align: middle;">
                    <td><a href="@Url.Action("Edit", "Contact", new { id = contact.c_ContactId })"
                            class="btn btn-sm btn-primary">Edit</a>
                    </td>
                    <td>@contact.c_ContactName</td>
                    <td>@contact.c_Email</td>
                    <td>@contact.c_Group</td>
                    <td>@contact.c_Address</td>
                    <td>@contact.c_Mobile</td>
                    <td>@contact.c_Status</td>
                    <td><a href="@Url.Action("Delete", "Contact", new { id = contact.c_ContactId })"
                            class="btn btn-sm btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* @{
    ViewData["Title"] = "Contact Page";

}

@using ContactProject.Repositories
@model IEnumerable<t_Contact>

<table class="table table-striped" id="contactTable">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Group</th>
            <th>Address</th>
            <th>Mobile</th>
            <!-- <th>Image</th> -->
            <th>Status</th>
            @* <th>Update</th> 
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
            @foreach(var items in Model)
            {
                <tr>
                    <td>@items.c_ContactName</td>
                </tr>
            }
    </tbody>
</table> *@